<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="AvtoatelyeApp.Properties.Settings.AvtoatelyeBDConnectionString"
            connectionString="Data Source=DESKTOP-G8KHEFF\SQLEXPRESS;Initial Catalog=AvtoatelyeBD;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="AvtoatelyeApp.Properties.Settings.AvtoatelyeBDConnectionString1"
            connectionString="Data Source=PC223-6;Initial Catalog=AvtoatelyeBD;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="AvtoatelyeApp.Properties.Settings.AvtoatelyeBDConnectionString2"
            connectionString="Data Source=DESKTOP-UFFHUAS\SQLEXPRESS;Initial Catalog=AvtoatelyeBD;Integrated Security=True"
            providerName="System.Data.SqlClient" />
	<add name="cn"
            connectionString="Data Source=DESKTOP-UFFHUAS\SQLEXPRESS;Initial Catalog=AvtoatelyeBD;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>